* {
	border-radius: 5px;
    background-color: transparent;
	border: none;
    color:white;
}

QPushButton#PlayOrPauseBtn {
	font: 20px;
}

QPushButton#VolumeBtn {
	font: 22px;
}

QPushButton#FullScreenBtn {
	font: 22px;
}

QPushButton:hover {
	color: rgb(78, 194, 145);
}


/*滑竿*/
QSlider#PlaySlider::groove:horizontal {


    background: rgba(204, 204, 204, 128);
    height: 4px;
    border-radius: 2px;
}

/*已经划过的从地方*/
QSlider#PlaySlider::sub-page:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0,
        stop:0 rgba(78, 194, 145, 192), stop:1 rgba(78, 194, 145, 255));
    border: 1px solid rgba(78, 194, 145, 128);
    border-radius: 2px;
}

/*还没有滑上去的地方*/
QSlider#PlaySlider::add-page:horizontal {
    background: rgba(204, 204, 204, 128);
    border: 1px solid rgba(204, 204, 204, 64);
    border-radius: 2px;
}

QSlider#PlaySlider::handle:horizontal
{
    /*背景颜色设置为辐射聚焦*/
    background: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5,
    stop:0.6 rgb(78, 194, 145), stop:0.8 rgba(255, 255, 255, 255));
    
    /*形成圆*/

    border-radius: 6px;
	width: 12px;
    
    /*上沿、下沿超出滑竿*/
    margin-top: -4px;
    margin-bottom: -4px;
}

