* {
	outline:0px;
	border: 0;
	background-color: rgb(23, 24, 27);
	color: rgb(255, 255, 255);
	font: 16px;
}

QPushButton {
	border: 0;
	height: 50px;
	width: 60px;
	font-weight: bold;
	font: 16px;
}



QPushButton#btnAdd {
}

QPushButton:hover {
	color: rgb(78, 194, 145);
}

QListWidget {
	border-top: 1px solid rgb(35, 37, 39);
}

QListWidget::item {
	padding-left: 10px;
	border: 0;
	height: 40px;
	font: 20px;
}

QListWidget::item:selected, QListWidget::item:hover {
	background-color: rgb(35, 37, 39);
	color: rgb(78, 194, 145);
}

QScrollBar:vertical { 
	background-color: rgb(23, 24, 27);
	width: 8px;
}
/*设置滑块样式*/
QScrollBar::handle:vertical { 
	background-color: rgb(51, 53, 57);
	border-radius: 4px;
}
/*隐藏滑块上下的按钮*/
QScrollBar::sub-line:vertical { height: 0; subcontrol-position: top; }
QScrollBar::add-line:vertical { height: 0; subcontrol-position: bottom; }
/*设置轨道的颜色*/
QScrollBar::add-page:vertical { background-color: rgb(23, 24, 27); }
QScrollBar::sub-page:vertical { background-color: rgb(23, 24, 27); }
/*设置设置鼠标经过滑块滑块的颜色*/
QScrollBar::handle:vertical:hover
{
	background-color: rgb(60, 63, 68);
}